/* contains css variables */


/* Use of css variables, https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables */

/* Root level element */

:root {
	/* Base color,  font-size, background-color  */

	--base-font-color: #ffffff;
	--base-font-size: 100%; 
	--base-pm-color: #193441; /*Base primary color*/
	--base-sd-color: #3E606F;   /*Base Secondary color*/
	--base-width: 1000px;	
	--base-line-height: 1.5;

	/* Navbar */
	--navbar-height: 100px;


	/* Text and box shadows */
	--shadow-h: 4px;
	--shadow-v: 4px;
	--shadow-blur: 5px;
}