* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Avenir', 'Nunito', sans-serif;
}

/* Header */
nav {
    margin: 0; 
    background-color: rgba(21, 29, 33, 1);
    width: 100%;
    padding: 20px;
}

nav .nav-item {
    display: inline-block;
    color: white;
    z-index: 10;
}

#brand {
    font-size: 24px;
    font-weight: 400;
    margin-left: 20px;
    font-family: 'Dosis';
}

#info {
    cursor: pointer;
    flex: 1;
    font-weight: 300;
    display:flex;
    justify-content: space-around;
}
/* Main body*/
.theme {
    background: url(./assets/s.png) no-repeat center center;
    background-size: 100% 100%; 
    height: calc(100vh - 71px - 61px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme h1{
    margin: 10% 10px 0 ;
    color: white;
    position: relative;
    z-index: 3;
    text-align: center;
}
.theme h3 {
    margin: 13% 10px 0;
    color: white;
    z-index: 3;
    text-align: center;
    line-height: 1.5;

}
.theme h3 a {
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.65);

}

.theme:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: calc(100vh - 71px - 61px);
    background : linear-gradient(to bottom,               
    rgba(21, 29, 33, 1) 1px,                 
    rgba(21, 29, 33, 0.5) 100%) repeat 0
}

@media screen and (max-width: 550px) {
    .theme span {
        font-size: 2rem;
    }
    .theme {
        height: 400px;
    }
    .theme:before {
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    .theme span {
        font-size: 1.5rem;
    }
    .theme {
        height: 300px;
    }
    .theme:before {
        height: 300px;
    }
}

/* footer */

.footer {
    z-index:10;
    padding: 10px;
    background-color: rgba(21, 29, 33, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#discord {
    background-color: rgba(21, 29, 33, 1);
}

#discord img {
    width: 80px;
    border-radius: 5px;
    border: 1px solid white;
}